@font-face {
    font-family: "Avenir";
    src: url(css/vendors/fonts/Avenir.ttf);
}

@font-face {
    font-family: "Playfair Display SC";
    src: url(css/vendors/fonts/PlayfairDisplaySC-Bold.ttf);
}

@font-face {
    font-family: "Syncopate";
    src: url(css/vendors/fonts/Syncopate-Regular.ttf);
}