.title{
    font-family: "Playfair Display SC";
    font-size: 64px;
    color: $blue;
    line-height: 0.8;
    margin-bottom: 30px;
}

.subtitle{
    font-family: "Syncopate";
    text-transform: uppercase;
    font-size: 38px;
    margin-bottom: 30px;
    letter-spacing: 3px;
}

.small-subtitle{
    font-family: "Syncopate";
    font-size: 18px; 
    text-transform: uppercase;
    margin-bottom: 0;
}